body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E
}

h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF; 
}

h2{
    margin: 50px auto 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    line-height: 2;
    padding-top: 10px;
}

h3{
    font-family:'Montserrat',sans-serif;
    color: #11999E;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width:4%;
    margin: auto;
}

a{
    color: #11999E;
    font-family: 'Montserrat';
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}
/************** top container *********/

.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    
}

.top-cloud{
    position:absolute;
    top:40px;
    right:200px;
}

.ocean{
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
    left:250px;
    bottom:40px;
}

/************** middle container *********/

.middle-container{
    margin: 100px 0;

}

.prof-image{
    width: 20%;
    height:auto;
}

.intro{
    width: 50%;
    margin: 100px auto 100px auto;
    line-height: 2;
}



.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.ds-image{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.ml-image{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.contact-me{
    width: 50%;
    margin: auto;
    line-height: 2;
}

/************** botton container *********/


.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;

}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #2BC4AD);
    background-image: -moz-linear-gradient(top, #11CDD4, #2BC4AD);
    background-image: -ms-linear-gradient(top, #11CDD4, #2BC4AD);
    background-image: -o-linear-gradient(top, #11CDD4, #2BC4AD);
    background-image: linear-gradient(to bottom, #11CDD4, #2BC4AD);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

 .copyright {
     color: #EAF6F6;
     font-size:0.75rem;
     padding: 20px 0;
 }